.config-btn--stripe:hover, .active {
    background-color: white;
    color: black;
}
.title {
    color: black;
}


.Custom-header-FAQs {
    padding: 10px;
    background-color: orange;
    border: 1px solid black;
    text-align: center;
}