.signUpForm{
  margin-left: 75vh;
  margin-right: 75vh;
  border-style: solid;
  background-color: black;
}
.page{
    height: 95vh;
    background-color: orange;
}
.dropdown{
    width: 1px;
}